# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/SDK
*.log
*.tlog
UnrealContainers.hpp
PropertyFixup.hpp
/Neuro_marbles
FileList.txt
Assertions.inl
/x64
NameCollisions.inl
SDK.hpp
UtfN.hpp
/websocketpp
/json
